.navbar {
    overflow: hidden;
    /*utilizzo colori che possono essere in palette con la montagna, ad esempio verde, marrone e verde pino */
    background-color: #2a5e92;
    font-family: Arial, sans-serif;
    /*faccio in modo che il navbar occupi tutta la riga, per evitare che si sovrapponga con altri contenuti*/
    width: 100%;
    margin-bottom: 3rem;
}
  
.navbar a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(25, 53, 80);
    transition: 0.5s;
    /*aggiungo anche in questo caso border color in modo da far colorare anche il bordo quando viene selezionato*/
    border-color:  rgb(25, 53, 80);
}

body{
    /*imposto subito il font come sans-serif per non affaticare la vista all'utente, nel caso di stampa dovrò poi cambiare il 
    font inserendo invece il serif*/
    font-family: "Helvetica Neue", Verdana, sans-serif;
    /*utilizzo questi comandi per centrare il contenuto del body prima orizzontalmente e poi verticalmente */
    justify-content: center; 
    align-items: center;
    /*imposto a zero il margine così che il footer e la navbar rimangano attaccate al bordo.*/ 
    margin: 0;
    
}

/*utilizzando input type=text o date posso cambiare tutti i bottoni e i cambi che hanno quel determinato type*/
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 0.7rem 1.25rem;
    /*inserisco poco margine bottom in modo che la linea guida per l'inserimento dell'input non si stacchi di molto*/
    margin: 1rem 1rem 0rem;
    display: inline;
    /*utilizzo la forma compatta per dichiarare il bordo degli input. [spessore, stile e colore]*/
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.campo{
    margin-bottom: 1rem;
}

.guida{
    /*in questo caso mi creo dei piccoli avvisi che aiutano l'utente ad inserire correttamente il campo, li rendo opachi perchè
    non voglio dargli troppa importanza, devono essere solo delle linee guida*/
    color:grey;
    opacity: 0.7;
    font-size: 0.5rem;
    /*non voglio staccarli troppo dal campo di input per far capire che sono effettivamente riferiti a quello*/
    margin-top: 0.5rem;
    font-weight: bold;
    text-align: left;
}

h1{
    color: rgb(6, 19, 94);
    font-size: medium;
}

/*faccio cambiare il colore anche del bordo quando passo sopra ad un determinato campo*/
input[type=text]:hover, input[type=password]:hover, input[type=date]:hover {
    border-color:rgb(13, 29, 58);
    /*ho provato a far cambiare anche lo spessore però non rimane un buon risultato, in quando i bordi, giustamente, occupano una 
    parte della pagina e spostano i campi creando un effetto non piacevole e poco controllato*/
}

.bottoni{
    justify-content: left;
    align-items: center;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    /*utilizzando il pointer rendo l'utente consapevole di essere sopra un qualcosa che è possibile selezionare*/
    cursor: pointer;
    background-color: #122644; 
    color: white;
    /*inserisco una transizione per far cambiare il colore in modo uniforme --> 0.5 è quella che forse è più
    utile e ideale, tempi superiori sarebbero esagerati mentre inferiori sono poco percepibili*/
    transition: 0.5s;
    margin: auto;
    /*inserisco questo margin per staccare i bottoni di login e cancella quando viene ripiggiolita la finestra*/
    margin-top: 1rem;
}

/*per i bottoni, faccio cambiare il colore quando si passa sopra con il mouse per rendere più visibile e più intuitivo il sito
agli utenti*/
.bottoni:hover{
    background-color: rgb(18, 61, 117);
}

.content{
    /*se il testo esce dalla box viene nascosto*/
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(6, 57, 116, 0.575);
    padding: 2rem 8rem;
    width: 30%;
    height: 50%;
    border-radius: 2rem;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3rem;
}

.lastBtn{
    /*cerco di staccare il navbar dal content*/
    margin-top: 1.5rem;
}

.segnalaErrore{
    color: red;
    font-size: small;
    text-align: left;
    display: block;
}

footer {
    /*inserisco un opacity per non trascurare troppo il testo dietro*/
    opacity: 0.5;
    background-color:#215488;
    color: white;
    text-align: center;
    padding: 1rem;
    /*se voglio posso anche farlo che segua la pagina e che si veda in tutti i casi facendo 
    position:fixed...*/
    width: 100%;
    margin-bottom: 3rem;
}

footer a {
    color: white;
    text-decoration: none;
    /*in questo caso specifico di volere il font normale e non in grassetto solo nel caso del footer, dato che il CSS prende in
    considerazione solo la grafica più specifica, eliminerà il testo in grassetto*/
    /*font-weight:normal; --> prima avevo impostato font-weight:bold nel caso in cui si trattasse di un link. Eliminato in quanto
    non era bellissimo esteticamente*/
}
  
footer a:hover {
    color: #ddd;
}

a{
    color: #2a5e92;
}

.pagina{
    margin: 2rem;
}

.disabilitata{
    background-color:rgb(171, 213, 247);
    opacity:0.5;
}
/*creo una classe apposta per indicare in quale pagina mi trovo in quel momento, in modo da aiutare l'utente a capirlo*/
#attiva{
    /*si poteva utilizzare anche un bordo per indicare la classe attiva, però andava a sballare tutto il navbar in quando il bordo
    iniziava poi ad occupare uno spazio che prima non occupava (parecchio complicato da sistemare)*/
    background-color: darkslateblue;
}

.bodyErrato{
    /*imposto dei margini per renderlo leggermente più bello*/
    margin:2rem;
}
.successo{
    color: rgba(4, 100, 33, 0.993);
    margin-left: 2rem;
}

.tweet_cornice{
    border-style: dashed;
    border-radius: 1rem;
    border-width: 0.25rem;
    text-align: center;
    align-items: center;
    margin: auto;
    border-color: midnightblue;
    margin-bottom: 2rem;
}
.parte_tweet{
    float: left;
    border: 1rem;
    margin:1rem;
}
.tweet{
    /*faccio in modo che ogni tweet vada a capo ma che ogni parte del tweet stia sulla stessa riga*/
    clear: both;
    display: inline-block;
    /*per il momento è troppo simile a twitte o facebook, forse è meglio utilizzare un altra palette di colori*/
    background-color: rgb(191, 179, 224);
    border-radius: 3rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color:rgb(11, 5, 56);
}
.titolo_grassetto{
    font-weight: bold;
    color:#122644;
}
